*:root {
  --color-primary: #111866;
  --color-accent-a: #182296;
  --color-secondary: #f0b700;
  --color-accent-b: #ffcc25;
  --color-default: #1f1f1f;
  --color-mid: #808080;
  --color-low: #cec2c2;
  --color-light: #f7f7f7;
  --color-high: #ffffff;
  --color-error: #fa8e8e;
  --color-okay: #9ec4fd;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  clear: both;
}

body {
  background: var(--color-high, #ffffff);
  color: var(--color-default, #1f1f1f);
  font-family: 'Roboto';
  font-size: 95%;
  position: relative;
  height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

p, span, a, li, h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  line-height: 1.15;
}

p, a {
  line-height: 1.6rem;
}

span {
  font-size: inherit;
}

a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  font-weight: inherit;
}

a:hover {
  color: var(--color-accent, #2833aa);
}

input, button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

section {
  padding: 4em 0;
}

svg {
  width: 100%;
  line-height: 0;
  margin: auto;
  display: block;
}

svg .stroke {
  stroke: var(--color-default, #1f1f1f);
}

svg .stroke-only {
  stroke: var(--color-default, #1f1f1f);
  fill: none;
}

svg .stroke-light {
  stroke: var(--color-high, #ffffff);
  fill: none;
}

svg .fill {
  fill: var(--color-default, #1f1f1f);
}

svg .fill-only {
  fill: var(--color-default, #1f1f1f);
  stroke: none;
}

.mb-0 {
  margin-bottom: 0em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.mb-6 {
  margin-bottom: 6em;
}

.mb-7 {
  margin-bottom: 7em;
}

.mb-8 {
  margin-bottom: 8em;
}

.mb-9 {
  margin-bottom: 9em;
}

.mb-10 {
  margin-bottom: 10em;
}

.mb-11 {
  margin-bottom: 11em;
}

.mb-12 {
  margin-bottom: 12em;
}

.mt-0 {
  margin-top: 0em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mt-5 {
  margin-top: 5em;
}

.mt-6 {
  margin-top: 6em;
}

.mt-7 {
  margin-top: 7em;
}

.mt-8 {
  margin-top: 8em;
}

.mt-9 {
  margin-top: 9em;
}

.mt-10 {
  margin-top: 10em;
}

.mt-11 {
  margin-top: 11em;
}

.mt-12 {
  margin-top: 12em;
}

.ml-0 {
  margin-left: 0em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.ml-4 {
  margin-left: 4em;
}

.ml-5 {
  margin-left: 5em;
}

.ml-6 {
  margin-left: 6em;
}

.ml-7 {
  margin-left: 7em;
}

.ml-8 {
  margin-left: 8em;
}

.ml-9 {
  margin-left: 9em;
}

.ml-10 {
  margin-left: 10em;
}

.ml-11 {
  margin-left: 11em;
}

.ml-12 {
  margin-left: 12em;
}

.mr-0 {
  margin-right: 0em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

.mr-4 {
  margin-right: 4em;
}

.mr-5 {
  margin-right: 5em;
}

.mr-6 {
  margin-right: 6em;
}

.mr-7 {
  margin-right: 7em;
}

.mr-8 {
  margin-right: 8em;
}

.mr-9 {
  margin-right: 9em;
}

.mr-10 {
  margin-right: 10em;
}

.mr-11 {
  margin-right: 11em;
}

.mr-12 {
  margin-right: 12em;
}

.pb-0 {
  padding-bottom: 0em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pb-4 {
  padding-bottom: 4em;
}

.pb-5 {
  padding-bottom: 5em;
}

.pb-6 {
  padding-bottom: 6em;
}

.pb-7 {
  padding-bottom: 7em;
}

.pb-8 {
  padding-bottom: 8em;
}

.pb-9 {
  padding-bottom: 9em;
}

.pb-10 {
  padding-bottom: 10em;
}

.pb-11 {
  padding-bottom: 11em;
}

.pb-12 {
  padding-bottom: 12em;
}

.pt-0 {
  padding-top: 0em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-3 {
  padding-top: 3em;
}

.pt-4 {
  padding-top: 4em;
}

.pt-5 {
  padding-top: 5em;
}

.pt-6 {
  padding-top: 6em;
}

.pt-7 {
  padding-top: 7em;
}

.pt-8 {
  padding-top: 8em;
}

.pt-9 {
  padding-top: 9em;
}

.pt-10 {
  padding-top: 10em;
}

.pt-11 {
  padding-top: 11em;
}

.pt-12 {
  padding-top: 12em;
}

.pl-0 {
  padding-left: 0em;
}

.pl-1 {
  padding-left: 1em;
}

.pl-2 {
  padding-left: 2em;
}

.pl-3 {
  padding-left: 3em;
}

.pl-4 {
  padding-left: 4em;
}

.pl-5 {
  padding-left: 5em;
}

.pl-6 {
  padding-left: 6em;
}

.pl-7 {
  padding-left: 7em;
}

.pl-8 {
  padding-left: 8em;
}

.pl-9 {
  padding-left: 9em;
}

.pl-10 {
  padding-left: 10em;
}

.pl-11 {
  padding-left: 11em;
}

.pl-12 {
  padding-left: 12em;
}

.pr-0 {
  padding-right: 0em;
}

.pr-1 {
  padding-right: 1em;
}

.pr-2 {
  padding-right: 2em;
}

.pr-3 {
  padding-right: 3em;
}

.pr-4 {
  padding-right: 4em;
}

.pr-5 {
  padding-right: 5em;
}

.pr-6 {
  padding-right: 6em;
}

.pr-7 {
  padding-right: 7em;
}

.pr-8 {
  padding-right: 8em;
}

.pr-9 {
  padding-right: 9em;
}

.pr-10 {
  padding-right: 10em;
}

.pr-11 {
  padding-right: 11em;
}

.pr-12 {
  padding-right: 12em;
}

@media screen and (min-width: 150px) {
  .h1 {
    font-size: 3rem;
  }
  .h2 {
    font-size: 2rem;
  }
  .h3 {
    font-size: 1rem;
  }
  .h4 {
    font-size: 1rem;
  }
  .h5 {
    font-size: 1rem;
  }
  .h6 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 540px) {
  .h1 {
    font-size: 4rem;
  }
  .h2 {
    font-size: 3rem;
  }
  .h3 {
    font-size: 2rem;
  }
  .h4 {
    font-size: 1rem;
  }
  .h5 {
    font-size: 1rem;
  }
  .h6 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1100px) {
  .h1 {
    font-size: 4.5rem;
  }
  .h2 {
    font-size: 3.5rem;
  }
  .h3 {
    font-size: 2.5rem;
  }
  .h4 {
    font-size: 1.5rem;
  }
  .h5 {
    font-size: 1rem;
  }
  .h6 {
    font-size: 1rem;
  }
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.heavy {
  font-weight: 800;
}

.bg-pr {
  background-color: var(--color-primary, #111866);
}

.bg-sc {
  background-color: var(--color-secondary, #f0b700);
}

.bg-df {
  background-color: var(--color-default);
}

.bg-mg {
  background-color: #808080;
}

.bg-lg {
  background-color: #bfbfbf;
}

.bg-lig {
  background-color: #f7f7f7;
}

.bg-wt {
  background-color: #ffffff;
}

.clr-pr {
  color: var(--color-primary, #111866);
}

.clr-sc {
  color: var(--color-secondary, #f0b700);
}

.clr-df {
  color: var(--color-default);
}

.clr-mg {
  color: #808080;
}

.clr-lg {
  color: #bfbfbf;
}

.clr-lig {
  color: #f7f7f7;
}

.clr-wt {
  color: #ffffff;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 150px) {
  .row .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    width: 8.33333%;
  }
  .row .col-sm-1.order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .row .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    width: 16.66667%;
  }
  .row .col-sm-2.order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .row .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    width: 25%;
  }
  .row .col-sm-3.order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .row .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .row .col-sm-4.order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .row .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .row .col-sm-5.order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .row .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
  .row .col-sm-6.order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .row .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    width: 58.33333%;
  }
  .row .col-sm-7.order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .row .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    width: 66.66667%;
  }
  .row .col-sm-8.order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .row .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    width: 75%;
  }
  .row .col-sm-9.order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .row .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
  .row .col-sm-10.order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .row .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    width: 91.66667%;
  }
  .row .col-sm-11.order-sm-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .row .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .row .col-sm-12.order-sm-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

@media screen and (min-width: 540px) {
  .row .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    width: 8.33333%;
  }
  .row .col-md-1.order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .row .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    width: 16.66667%;
  }
  .row .col-md-2.order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .row .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    width: 25%;
  }
  .row .col-md-3.order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .row .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .row .col-md-4.order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .row .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .row .col-md-5.order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .row .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
  .row .col-md-6.order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .row .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    width: 58.33333%;
  }
  .row .col-md-7.order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .row .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    width: 66.66667%;
  }
  .row .col-md-8.order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .row .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    width: 75%;
  }
  .row .col-md-9.order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .row .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
  .row .col-md-10.order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .row .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    width: 91.66667%;
  }
  .row .col-md-11.order-md-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .row .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .row .col-md-12.order-md-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

@media screen and (min-width: 1100px) {
  .row .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    width: 8.33333%;
  }
  .row .col-lg-1.order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .row .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    width: 16.66667%;
  }
  .row .col-lg-2.order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .row .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    width: 25%;
  }
  .row .col-lg-3.order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .row .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .row .col-lg-4.order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .row .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .row .col-lg-5.order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .row .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    width: 50%;
  }
  .row .col-lg-6.order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .row .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    width: 58.33333%;
  }
  .row .col-lg-7.order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .row .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    width: 66.66667%;
  }
  .row .col-lg-8.order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .row .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    width: 75%;
  }
  .row .col-lg-9.order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .row .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    width: 83.33333%;
  }
  .row .col-lg-10.order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .row .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    width: 91.66667%;
  }
  .row .col-lg-11.order-lg-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .row .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }
  .row .col-lg-12.order-lg-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}

.row .col-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 8.33333%;
          flex: 1 1 8.33333%;
}

.row .col-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 16.66667%;
          flex: 1 1 16.66667%;
}

.row .col-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.row .col-4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33333%;
          flex: 1 1 33.33333%;
}

.row .col-5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41.66667%;
          flex: 1 1 41.66667%;
}

.row .col-6 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.row .col-7 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 58.33333%;
          flex: 1 1 58.33333%;
}

.row .col-8 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66667%;
          flex: 1 1 66.66667%;
}

.row .col-9 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.row .col-10 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 83.33333%;
          flex: 1 1 83.33333%;
}

.row .col-11 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 91.66667%;
          flex: 1 1 91.66667%;
}

.row .col-12 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.row.gutter-s-1 {
  margin: -0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-1 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-2 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-3 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-4 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-5 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-6 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-7 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-8 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-9 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-10 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-11 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-sm-12 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-1 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-2 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-3 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-4 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-5 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-6 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-7 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-8 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-9 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-10 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-11 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-md-12 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-1 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-2 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-3 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-4 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-5 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-6 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-7 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-8 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-9 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-10 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-11 {
  padding: 0.25em;
}

.row.gutter-s-1 .col {
  padding: 0.25em;
}

.row.gutter-s-1 .col-lg-12 {
  padding: 0.25em;
}

.row.gutter-s-2 {
  margin: -0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-1 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-2 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-3 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-4 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-5 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-6 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-7 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-8 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-9 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-10 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-11 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-sm-12 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-1 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-2 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-3 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-4 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-5 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-6 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-7 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-8 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-9 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-10 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-11 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-md-12 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-1 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-2 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-3 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-4 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-5 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-6 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-7 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-8 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-9 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-10 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-11 {
  padding: 0.75em;
}

.row.gutter-s-2 .col {
  padding: 0.75em;
}

.row.gutter-s-2 .col-lg-12 {
  padding: 0.75em;
}

.row.gutter-s-3 {
  margin: -1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-1 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-2 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-3 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-4 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-5 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-6 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-7 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-8 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-9 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-10 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-11 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-sm-12 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-1 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-2 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-3 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-4 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-5 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-6 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-7 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-8 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-9 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-10 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-11 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-md-12 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-1 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-2 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-3 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-4 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-5 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-6 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-7 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-8 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-9 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-10 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-11 {
  padding: 1.25em;
}

.row.gutter-s-3 .col {
  padding: 1.25em;
}

.row.gutter-s-3 .col-lg-12 {
  padding: 1.25em;
}

.container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 24px;
}

.container.nav-container {
  max-width: 1800px;
}

.field {
  position: relative;
  border: 1px solid var(--color-low, #cec2c2);
  height: 48px;
  cursor: text;
}

.field::after {
  content: '';
  font-size: .8rem;
  position: absolute;
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  padding: .1em;
  vertical-align: middle;
  z-index: 2;
  cursor: default;
}

.field .field-input, .field .field-label {
  position: absolute;
  width: calc( 100% - 2em);
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.field .field-label {
  z-index: 0;
  text-transform: capitalize;
  color: #bfbfbf;
  font-weight: 500;
}

.field.focused {
  border: 1px solid var(--color-okay, #9ec4fd);
}

.field.focused .field-label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .15em .3em;
  background: var(--color-high, #ffffff);
  color: var(--color-okay, #9ec4fd);
  -webkit-transform: unset;
          transform: unset;
  top: -.7em;
  left: .85em;
  font-size: .8rem;
}

.field.error {
  border: 1px solid var(--color-error, #fa8e8e);
  position: relative;
}

.field.error .field-label {
  color: var(--color-error, #fa8e8e);
}

.field.error::after {
  content: '!';
  display: block;
  color: var(--color-high, #ffffff);
  background: var(--color-error, #fa8e8e);
}

.btn {
  text-transform: capitalize;
  padding: 1.5em 1.75em;
  line-height: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.btn.icon-only {
  width: 2.5em;
  height: 2.5em;
  padding: .55em;
  vertical-align: middle;
  border-radius: .25rem;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.btn.icon-only.footer-icon {
  width: 2.5em;
  height: 2.5em;
}

.btn.icon-only.footer-icon svg {
  height: 18px;
}

.btn.icon-only.round {
  background: var(--color-light, #f7f7f7);
  opacity: .9;
  width: 34px;
  height: 34px;
  max-width: 34px;
  max-height: 34px;
  border-radius: 50%;
  -webkit-transition: background .2s ease, border .2s ease;
  transition: background .2s ease, border .2s ease;
}

.btn.icon-only.round svg {
  max-height: 12px;
  -webkit-transition: stroke .2s ease;
  transition: stroke .2s ease;
}

.btn.icon-only.transparent {
  background: none;
  border: 1px solid var(--color-low, #cec2c2);
}

.btn.icon-only:hover {
  background: var(--color-light, #f7f7f7);
  -webkit-transition: unset;
  transition: unset;
}

.btn.icon-only:hover.round {
  background: var(--color-primary, #111866);
  -webkit-transition: unset;
  transition: unset;
}

.btn.icon-only:hover.round svg .stroke-only {
  stroke: var(--color-high, #ffffff);
  -webkit-transition: unset;
  transition: unset;
}

.btn.icon-only:hover.transparent {
  background: var(--color-primary, #111866);
  border: none;
}

.btn.icon-only:hover.footer-icon {
  background: unset;
}

@media screen and (min-width: 1100px) {
  .btn.icon-only {
    width: 3em;
    height: 3em;
    padding: .5em;
    border-radius: .35em;
  }
  .btn.icon-only.round {
    width: 48px;
    height: 48px;
    max-width: 48px;
    max-height: 48px;
  }
  .btn.icon-only svg {
    max-height: 24px;
  }
}

.btn.icon-inline {
  display: inline-block;
}

.btn.icon-inline.block {
  display: block;
}

.btn.icon-inline.transparent {
  padding: 0;
}

.btn.icon-inline.transparent svg .stroke-only {
  -webkit-transition: stroke .3s ease;
  transition: stroke .3s ease;
}

.btn.icon-inline.primary, .btn.icon-inline.secondary {
  color: var(--color-high, #ffffff);
  position: relative;
  z-index: 1;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.btn.icon-inline.primary svg .stroke, .btn.icon-inline.secondary svg .stroke {
  stroke: var(--color-high, #ffffff);
}

.btn.icon-inline.primary svg .stroke-only, .btn.icon-inline.secondary svg .stroke-only {
  stroke: var(--color-high, #ffffff);
  fill: none;
}

.btn.icon-inline.primary svg .stroke-light, .btn.icon-inline.secondary svg .stroke-light {
  stroke: var(--color-high, #ffffff);
  fill: none;
}

.btn.icon-inline.primary svg .fill, .btn.icon-inline.secondary svg .fill {
  fill: var(--color-high, #ffffff);
}

.btn.icon-inline.primary svg .fill-only, .btn.icon-inline.secondary svg .fill-only {
  fill: var(--color-high, #ffffff);
  stroke: none;
}

.btn.icon-inline.primary {
  background: var(--color-primary, #111866);
}

.btn.icon-inline.secondary {
  background: var(--color-secondary, #f0b700);
}

.btn.icon-inline.secondary::before {
  background: var(--color-primary, #111866);
}

.btn.icon-inline .icon {
  display: inline-block;
  max-width: 12px;
}

.btn.icon-inline .icon.right {
  margin-left: 1.5em;
}

.btn.icon-inline .icon.left {
  margin-right: 1.5em;
}

.btn:hover.icon-inline.primary, .btn:hover.icon-inline.secondary {
  background: var(--color-accent, #2833aa);
  -webkit-transition: unset;
  transition: unset;
}

.btn:hover.icon-inline.secondary {
  background: var(--color-accent, #ffcc25);
}

.btn:hover.icon-inline.transparent svg .stroke-only {
  stroke: var(--color-accent, #2833aa);
  -webkit-transition: unset;
  transition: unset;
}

.block {
  display: block;
}

.align-left {
  text-align: left;
}

.sub-label {
  font-size: .9rem;
}

.header {
  height: 100%;
}

.heading {
  color: var(--color-primary, #111866);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (min-width: 540px) {
  .container {
    padding: 0 32px;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.carousel .item {
  position: absolute;
  left: 0;
  height: auto;
  display: block;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.carousel.gap-1 .item {
  padding: 1em 7.5px;
}

.carousel.gap-2 .item {
  padding: 1em 12px;
}

.carousel.gap-2.inner {
  margin-left: -12px;
  margin-right: -12px;
}

.carousel.infinite .item {
  -webkit-transition: opacity .6s ease, left .3s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, left .3s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, left .3s ease;
  transition: opacity .6s ease, transform .3s ease, left .3s ease, -webkit-transform .3s ease;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel.single .item {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.car-card {
  padding: 1em;
  background: #ffffff;
  border-radius: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 280px;
  max-width: 350px;
  width: 100vw;
  -webkit-box-shadow: 0px 3px 3px -3px #16161634;
          box-shadow: 0px 3px 3px -3px #16161634;
}

.car-card .details {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.car-card .car-pic-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  position: relative;
  height: 80px;
}

.car-card .car-pic-wrap img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p-card {
  max-width: 170px;
  min-width: 140px;
  position: relative;
  height: auto;
  padding-top: 150%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: padding-top .3s ease;
  transition: padding-top .3s ease;
}

.p-card.active {
  padding-top: 180%;
}

.p-card .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.p-card .background img {
  height: 100%;
  position: absolute;
}

.room-card {
  position: relative;
  width: 100%;
  height: 600;
}

.room-card .background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-top: 95%;
}

.room-card .background img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.room-card .body {
  padding: 1em 0;
}

.room-card .body .name {
  margin-bottom: 8px;
}

.room-card .body .category {
  margin-bottom: 16px;
}

.room-card.active {
  height: 100%;
}

.room-card.active .background {
  width: 100%;
  height: 100%;
  padding-top: 60%;
  z-index: 0;
}

.room-card.active .background::before {
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-20%, var(--color-default)), color-stop(80%, transparent));
  background: linear-gradient(0deg, var(--color-default) -20%, transparent 80%);
  mix-blend-mode: multiply;
  display: block;
  z-index: 1;
}

.room-card.active .background img {
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.room-card.active .body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
}

.room-card.active .body .name, .room-card.active .body .category, .room-card.active .body .price-range {
  color: #ffffff;
}

.room-card.active .body .name {
  font-size: 1.25rem;
}

.room-card.active .body .category {
  opacity: .75;
}

header {
  padding: 1.5em 0;
  min-height: 70px;
}

header nav .nav-container {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-container .nav-content {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

header nav .nav-container .nav-content .nav-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .nav-container .nav-content .nav-logo .logo-wrap {
  min-width: 80px;
  max-width: 116px;
  display: block;
  line-height: 0;
}

header nav .nav-container .nav-content .nav-logo .logo-wrap #logo .letter {
  fill: var(--color-primary, #111866);
}

header nav .nav-container .nav-content .nav-buttons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

header nav .nav-container .nav-content .nav-menu {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 0px;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

header nav .nav-container .nav-content .nav-menu .nav-menu-items {
  padding-top: 2em;
}

header nav .nav-container .nav-content .nav-menu .nav-menu-items .item {
  font-weight: 500;
  color: var(--color-default, #1f1f1f);
}

header nav .nav-container .nav-content .nav-menu .nav-menu-items .item a {
  padding: .75em 0;
  display: block;
}

header nav .nav-container .nav-content .nav-menu.toggled {
  height: 100%;
}

section {
  position: relative;
  overflow: hidden;
}

section.destinations {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  padding-top: 4em;
}

section.destinations .featured-destinations {
  position: relative;
}

section.destinations .featured-destinations .carousel-wrap {
  overflow-x: clip;
  width: 110%;
}

section.destinations .featured-destinations .carousel {
  margin-top: 2em;
}

section.destinations .featured-destinations .controls {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

section.destinations .featured-destinations .controls .btn {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}

section.destinations .featured-destinations .controls .btn.prev {
  left: -8px;
}

section.destinations .featured-destinations .controls .btn.next {
  right: -8px;
}

section.car-rent .explore-btn {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

section.car-rent .car-buttons {
  text-align: right;
}

section.car-rent .car-buttons .next {
  margin-left: 1em;
}

section.car-rent .featured-cars {
  overflow-x: clip;
  width: 150%;
}

section.landmarks .lm .background {
  width: 100%;
  height: 80px;
  position: relative;
  overflow: hidden;
}

section.landmarks .lm .background img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .footer .subscribe-head {
  font-size: 2rem;
  margin-bottom: 16px;
}

footer .footer .footer-nav {
  margin-bottom: 2em;
}

footer .footer .footer-nav .nav-links-head {
  position: relative;
  display: block;
  cursor: pointer;
  padding: .5em 0;
}

footer .footer .footer-nav .nav-links-head::after {
  content: url(../assets/svg/icon-drop.svg);
  width: .5em;
  display: block;
  position: absolute;
  line-height: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .footer .footer-nav .nav-links-head.toggled::after {
  -webkit-transform: translateY(-50%) rotateZ(180deg);
          transform: translateY(-50%) rotateZ(180deg);
}

footer .footer .footer-nav .nav-links li {
  line-height: 36pt;
  padding-left: .5em;
}

footer .footer .footer-nav .nav-links li:first-child {
  margin-top: 1em;
}

footer .footer .footer-nav .nav-links.collapsible {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
}

footer .footer .footer-nav .nav-links.collapsible.toggled {
  height: 100%;
}

footer .attributions {
  padding: 2em 0;
  border-top: 1px solid var(--color-low, #cec2c2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .attributions .footer-logo {
  min-width: 80px;
  max-width: 100px;
}

footer .attributions .footer-logo #logo .letter {
  fill: var(--color-default, #1f1f1f);
}

footer .attributions .social-media-links .link {
  display: inline;
}

footer .attributions .social-media-links .link .icon-only {
  height: unset;
}

footer .attributions .social-media-links .link a svg .fill-only {
  fill: var(--color-min, #808080);
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
}

footer .attributions .social-media-links .link:not(:last-child) {
  margin-right: .75em;
}

footer .attributions .social-media-links .link:hover a svg .fill-only {
  fill: var(--color-accent, #2833aa);
  -webkit-transition: unset;
  transition: unset;
}

.main-banner {
  position: relative;
  overflow: hidden;
  padding: 0;
  min-height: 640px;
  max-height: 954px;
  height: calc(100vh - 70px);
  z-index: 0;
}

.main-banner .banner-content {
  height: 85%;
  background: #f7f7f7;
  background-image: url(../assets/bg.png);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

.main-banner .banner-content .container {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-banner .h-end {
  width: 100%;
  height: 15%;
  bottom: 0;
  position: relative;
  z-index: 0;
}

.main-banner .h-end .scroll-down-btn {
  position: absolute;
  padding: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  cursor: pointer;
}

.main-banner .h-end .scroll-down-btn .icon {
  display: block;
  max-width: 12px;
}

.main-banner .h-end .scroll-down-btn .icon svg .stroke-only {
  stroke: var(--color-primary, #111866);
  stroke-width: .5px;
}

.main-banner .background {
  position: absolute;
  width: 46%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1;
}

.main-banner .background .fw-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.main-banner .background .fw-img img {
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 540px) {
  .room-card .body .name, .room-card .body .category, .room-card .body .price-range {
    font-size: .8rem;
  }
  .room-card.active .background img {
    width: auto;
    height: 100%;
  }
  .room-card.active .body {
    padding: 2em;
  }
  .room-card.active .body .name {
    font-size: 1rem;
  }
  .p-card {
    min-width: 270px;
  }
  .main-banner {
    max-height: 954px;
  }
  .main-banner .background {
    width: 66%;
    left: 37%;
  }
  section.destinations {
    padding: 7em 0 10em;
  }
  section.destinations .carousel-container {
    width: 115%;
    overflow-x: clip;
  }
  section.destinations .carousel-container .carousel {
    margin-top: 0;
    margin-left: -.5em;
  }
  section.hotels-and-apartments {
    padding: 1.5em 0;
  }
  section.hotels-and-apartments .col.active {
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    right: -1.5em;
    width: calc( (7 / 12 * 100%) + 1em);
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  section.car-rent .explore-btn {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
  footer .footer .subscribe-head {
    font-size: 1rem;
  }
  footer .footer .footer-nav {
    margin-bottom: unset;
  }
  footer .footer .footer-nav .nav-links-head {
    padding: 0;
  }
  footer .footer .footer-nav .nav-links-head::after {
    content: unset;
  }
  footer .footer .footer-nav .nav-links {
    margin-top: 2em;
    padding: 0;
  }
  footer .footer .footer-nav .nav-links.collapsible {
    height: unset;
  }
}

@media screen and (min-width: 1100px) {
  header {
    min-height: 120px;
    padding: 2.25em 0;
  }
  header nav .nav-container .nav-content .nav-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 5%;
            flex: 1 0 5%;
  }
  header nav .nav-container .nav-content .nav-logo .logo-wrap {
    max-width: 132px;
  }
  header nav .nav-container .nav-content .nav-buttons .btn:not(:first-child) {
    margin-left: 1em;
  }
  header nav .nav-container .nav-content .nav-buttons .menu-toggler {
    display: none;
  }
  header nav .nav-container .nav-content .nav-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    height: auto;
  }
  header nav .nav-container .nav-content .nav-menu .nav-menu-items {
    padding-top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    gap: 2.5em;
  }
  header nav .nav-container .nav-content .nav-menu.toggle.show {
    height: unset;
  }
  .p-card {
    min-width: 270px;
  }
  .room-card .body .name, .room-card .body .category, .room-card .body .price-range {
    font-size: 1rem;
  }
  .room-card.active .background img {
    width: 100%;
    height: auto;
  }
  .room-card.active .body {
    padding: 3em;
  }
  .room-card.active .body .name {
    font-size: 1.25rem;
  }
  .main-banner {
    max-height: 960px;
    height: calc(100vh - 120px);
  }
  .main-banner .background {
    width: 66.40%;
    right: unset;
    left: 33.6;
  }
  .main-banner .background .fw-img img {
    width: 100%;
    height: auto;
  }
  section.destinations {
    padding: 12em 0;
  }
  section.destinations .featured-destinations {
    position: unset;
  }
  section.destinations .featured-destinations .carousel-wrap {
    width: 200%;
  }
  section.destinations .featured-destinations .controls {
    width: 46.5%;
    top: 51%;
    max-width: 900px;
  }
  section.destinations .featured-destinations .controls .btn.prev {
    left: -8px;
  }
  section.destinations .featured-destinations .controls .btn.next {
    right: -8px;
  }
  section.hotels-and-apartments .col.active {
    width: calc( (6 / 12 * 100%) + 1em);
  }
}
/*# sourceMappingURL=main.css.map */